<div class="row justify-content-center" style="background-color: #ccc5c517">
  <div class="col-11">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" style="background-color: #ccc5c517">
      <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">Create or edit a User</h2>

      <div *ngIf="user">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!user.id">
          <label jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" name="id" formControlName="id" readonly />
        </div>

        <div class="form-row">
          <div class="col-md-2">
            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
            <input
              type="text"
              style="text-transform: uppercase"
              class="form-control"
              pattern="[A-Za-zñÑ ]{2,30}"
              name="firstName"
              formControlName="firstName"
              maxlength="20"
              onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32 || event.charCode == 209  || event.charCode == 241 || event.charCode >= 65 && event.charCode <= 90)"
            />

            <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('firstName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.lastName">Last Name</label>
            <input
              type="text"
              style="text-transform: uppercase"
              class="form-control"
              pattern="[A-Za-zñÑ ]{4,30}"
              name="lastName"
              formControlName="lastName"
              maxlength="20"
              onkeypress="return(event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32 || event.charCode == 209 || event.charCode == 241  || event.charCode >= 65 && event.charCode <= 90)"
            />
            <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('lastName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2" [hidden]="user.id">
            <label jhiTranslate="userManagement.documentType" class="form-control-label">Tipo de Documento</label>
            <select style="text-align: left" class="form-control" name="documentType" formControlName="documentType">
              <option *ngFor="let documenttypes of documenttypes" [value]="documenttypes" required>{{ documenttypes }}</option>
            </select>

            <div
              *ngIf="
                editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('documentType')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2" [hidden]="user.id">
            <label class="form-control-label">Número de documento</label>
            <input
              type="text"
              style="text-transform: uppercase"
              class="form-control"
              required
              pattern="[A-Za-z0-9]{5,11}"
              name="login"
              formControlName="login"
              maxlength="11"
              onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 65 && event.charCode <= 90 )"
            />

            <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.pattern"
                jhiTranslate="entity.validation.patternloginDocument"
              >
                This field can only contain letters, digits and e-mail addresses.
              </small>
            </div>

            <div class="alert alert-danger" *ngIf="idCredentialsError" jhiTranslate="userManagement.idCredentialsError"></div>
          </div>

          <!-- EDIT -->
          <div class="col-md-2 mb-2" [hidden]="!user.id">
            <label jhiTranslate="userManagement.documentType" class="form-control-label">Tipo de Documento</label>
            <select readonly style="text-align: left" class="form-control" name="documentType" formControlName="documentType">
              <option *ngFor="let documenttypes of documenttypes" [value]="documenttypes" disabled>{{ documenttypes }}</option>
            </select>

            <div
              *ngIf="
                editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('documentType')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2" [hidden]="!user.id">
            <label jhiTranslate="userManagement.login" class="form-control-label">Número de documento</label>
            <input
              readonly
              type="text"
              style="text-transform: uppercase"
              class="form-control"
              required
              pattern="[A-Za-z0-9]{5,11}"
              name="login"
              formControlName="login"
              maxlength="11"
              onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 65 && event.charCode <= 90 )"
            />

            <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.pattern"
                jhiTranslate="entity.validation.patternloginDocument"
              >
                This field can only contain letters, digits and e-mail addresses.
              </small>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2 mb-2">
            <label class="form-control-label">Email</label>
            <input maxlength="50" type="email" class="form-control" name="email" formControlName="email" />

            <div class="alert alert-danger" *ngIf="emailCredentialsError" jhiTranslate="userManagement.emailCredentialsError"></div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2">
            <label class="form-control-label">Celular</label>
            <input
              maxlength="10"
              onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
              type="text"
              class="form-control"
              pattern="[0-9]{10}"
              name="celphone"
              formControlName="celphone"
            />

            <div *ngIf="editForm.get('celphone')!.invalid && (editForm.get('celphone')!.dirty || editForm.get('celphone')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('celphone')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
            <div class="alert alert-danger" *ngIf="celphoneCredentialsError" jhiTranslate="userManagement.celphoneCredentialsError"></div>
          </div>

          <div class="col-md-2"></div>

          <div class="col-md-1">
            <label class="form-control-label">¿Activado?</label>

            <label class="form-check-label" for="activated">
              <input
                style="vertical-align: bottom"
                class="form-check-input"
                type="checkbox"
                id="activated"
                name="activated"
                formControlName="activated"
              />
              <span jhiTranslate="userManagement.activated">Activated</span>
            </label>
          </div>

          <div class="col-md-1 mb-1"></div>

          <div class="col-md-2 mb-2">
            <label style="text-align: center" jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" multiple name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2 mb-2">
            <div class="form-group">
              <label class="form-control-label">Convenio</label>

              <select class="form-control" name="convenio" formControlName="convenio">
                <option *ngFor="let convenio of convenio.sort()" [value]="convenio">{{ convenio }}</option>
              </select>

              <div *ngIf="editForm.get('convenio')!.invalid && (editForm.get('convenio')!.dirty || editForm.get('convenio')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('convenio')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>

              <button type="button" class="btn-info btn-secondary" (click)="sqlconvenio()" value="departamentoName">
                <fa-icon icon="check" value="Agregar departamento"></fa-icon>
                Agregar Convenio
              </button>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2">
            <div class="form-group">
              <label class="form-control-label">Programa</label>

              <select class="form-control" name="programa" formControlName="programa">
                <option *ngFor="let programa of programa.sort()" [value]="programa">{{ programa }}</option>
              </select>

              <div *ngIf="editForm.get('programa')!.invalid && (editForm.get('programa')!.dirty || editForm.get('programa')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('programa')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>

              <button type="button" class="btn-dark btn-secondary" (click)="sqlprograma()" value="Mostrar municipios">
                <fa-icon icon="list"></fa-icon>
              </button>

              <button type="button" class="btn-info btn-secondary" (click)="sqlAddAgreements()" value="Mostrar municipios">
                <fa-icon icon="save"></fa-icon>
                Agregar Programa
              </button>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2">
            <div class="form-group">
              <label class="form-control-label">Departamento</label>

              <select class="form-control" name="departamento" formControlName="departamento">
                <option *ngFor="let departamento of departamento.sort()" [value]="departamento">{{ departamento }}</option>
              </select>

              <div
                *ngIf="
                  editForm.get('departamento')!.invalid && (editForm.get('departamento')!.dirty || editForm.get('departamento')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('departamento')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>

              <button type="button" class="btn-info btn-secondary" (click)="sqlask()" value="Agregar departamento">
                <fa-icon icon="check"></fa-icon>
                Agregar Departamento
              </button>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-2 mb-2">
            <div class="form-group">
              <label class="form-control-label">Municipio</label>

              <select class="form-control" multiple name="municipio" formControlName="municipio">
                <option *ngFor="let municipio of municipio.sort()" [value]="municipio">{{ municipio }}</option>
              </select>

              <div *ngIf="editForm.get('municipio')!.invalid && (editForm.get('municipio')!.dirty || editForm.get('municipio')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="editForm.get('municipio')?.errors?.maxlength"
                  jhiTranslate="entity.validation.maxlength"
                  [translateValues]="{ max: 50 }"
                >
                  This field cannot be longer than 50 characters.
                </small>
              </div>

              <button
                type="button"
                class="btn-info btn-dark"
                (click)="sqlmunicipio()"
                value="Mostrar municipios"
                style="margin-bottom: 1rem"
              >
                <fa-icon icon="list"></fa-icon>
              </button>
              <button type="button" class="btn-info btn-secondary" (click)="sqlAddLocation()" value="Mostrar municipios">
                <fa-icon icon="save"></fa-icon>
                Agregar Municipio
              </button>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-7 mb-8" style="margin: 2rem">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"><span>Convenio</span></th>
                  <th scope="col"><span>Id</span></th>

                  <th scope="col"><span>Programa</span></th>
                  <th scope="col"><span>Id</span></th>

                  <th scope="col"><span>Departamento</span></th>
                  <th scope="col"><span>Municipio</span></th>
                </tr>
              </thead>

              <tbody *ngIf="user">
                <tr>
                  <td>{{ convenioName }}</td>
                  <td>{{ convenioNIT }}</td>

                  <td>{{ programaName }}</td>
                  <td>{{ programaNIT }}</td>

                  <td>{{ departamentoName }}</td>
                  <td>{{ municipioName }}</td>

                  <td>
                    <div *ngFor="let authority of user.authorities">
                      <span class="badge badge-info">{{ authority }}</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="user">
            <div class="col-md-1">
              <button
                type="button"
                [disabled]="this.addLocationVerification"
                class="btn btn-secondary"
                (click)="sqlAddNewLocation()"
                style="margin: 1rem"
              >
                <fa-icon icon="user-plus"></fa-icon>&nbsp;<span>Locación</span>
              </button>
            </div>
          </div>

          <div *ngIf="user">
            <div class="col-md-1">
              <button type="button" class="btn btn-secondary" (click)="previousState()" style="margin: 1rem">
                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
              </button>
            </div>
          </div>

          <div *ngIf="user">
            <div class="col-md-1">
              <button
                type="submit"
                [disabled]="editForm.invalid || isSaving || this.saveReady"
                class="btn btn-primary"
                style="margin: 1rem"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
