<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="myUserLabel" jhiTranslate="userManagement.home.createOrEditLabel">Create or edit a User</h2>

      <div *ngIf="user">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="!user.id">
          <label jhiTranslate="global.field.id">ID</label>
          <input type="text" class="form-control" name="id" formControlName="id" readonly />
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-2">
            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" formControlName="firstName" />

            <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('firstName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label jhiTranslate="userManagement.lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" formControlName="lastName" />

            <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('lastName')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label class="form-control-label">Tipo de Documento</label>
            <input type="text" class="form-control" name="documentType" formControlName="documentType" />

            <div
              *ngIf="
                editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('documentType')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label class="form-control-label">Login</label>
            <input type="text" class="form-control" name="login" formControlName="login" />

            <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('login')?.errors?.pattern"
                jhiTranslate="entity.validation.patternlogin"
              >
                This field can only contain letters, digits and e-mail addresses.
              </small>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-3 mb-2">
            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
            <input type="email" class="form-control" name="email" formControlName="email" />

            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 100 }"
              >
                This field cannot be longer than 100 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.minlength"
                jhiTranslate="entity.validation.minlength"
                [translateValues]="{ min: 5 }"
              >
                This field is required to be at least 5 characters.
              </small>

              <small
                class="form-text text-danger"
                *ngIf="editForm.get('email')?.errors?.email"
                jhiTranslate="global.messages.validate.email.invalid"
              >
                Your email is invalid.
              </small>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label class="form-control-label">Celular</label>
            <input type="text" class="form-control" name="celphone" formControlName="celphone" />

            <div *ngIf="editForm.get('celphone')!.invalid && (editForm.get('celphone')!.dirty || editForm.get('celphone')!.touched)">
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('celphone')?.errors?.maxlength"
                jhiTranslate="entity.validation.maxlength"
                [translateValues]="{ max: 50 }"
              >
                This field cannot be longer than 50 characters.
              </small>
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>
          <div class="col-md-3 mb-2">
            <label class="form-check-label" for="activated">
              <input
                class="form-check-input"
                [attr.disabled]="user.id === undefined ? 'disabled' : null"
                type="checkbox"
                id="activated"
                name="activated"
                formControlName="activated"
              />
              <span jhiTranslate="userManagement.activated">Activated</span>

              <label jhiTranslate="userManagement.profiles">Estado del usuario</label>
              <select class="form-control" name="authority" formControlName="authorities">
                <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
              </select>
            </label>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <input type="text" class="form-control" placeholder="First name" />
          </div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <input type="text" class="form-control" placeholder="First name" />
          </div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>

          <div class="col-md-2 mb-2">
            <label jhiTranslate="userManagement.profiles">Profiles</label>
            <select class="form-control" name="authority" formControlName="authorities">
              <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Convenio</label>
          <input type="text" class="form-control" name="convenio" formControlName="convenio" />

          <div *ngIf="editForm.get('convenio')!.invalid && (editForm.get('convenio')!.dirty || editForm.get('convenio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('convenio')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Programa</label>
          <input type="text" class="form-control" name="programa" formControlName="programa" />

          <div *ngIf="editForm.get('programa')!.invalid && (editForm.get('programa')!.dirty || editForm.get('programa')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('programa')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Departamento</label>
          <input type="text" class="form-control" name="departamento" formControlName="departamento" />

          <div
            *ngIf="editForm.get('departamento')!.invalid && (editForm.get('departamento')!.dirty || editForm.get('departamento')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('departamento')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Municipio</label>
          <input type="text" class="form-control" name="municipio" formControlName="municipio" />

          <div *ngIf="editForm.get('municipio')!.invalid && (editForm.get('municipio')!.dirty || editForm.get('municipio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('municipio')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-check"></div>

        <div class="form-group" *ngIf="languages && languages.length > 0">
          <label jhiTranslate="userManagement.langKey">Lang Key</label>
          <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
            <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
          </select>
        </div>
      </div>

      <div *ngIf="user">
        <button type="button" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
