<div>
  <h2 id="page-heading" data-cy="TransaccionesNominaHeading">
    <span jhiTranslate="portalautogestionApp.transaccionesNomina.home.title">Transacciones Nominas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="portalautogestionApp.transaccionesNomina.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transacciones-nomina"
        [routerLink]="['/transacciones-nomina/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="portalautogestionApp.transaccionesNomina.home.createLabel"> Create a new Transacciones Nomina </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transaccionesNominas?.length === 0">
    <span jhiTranslate="portalautogestionApp.transaccionesNomina.home.notFound">No transaccionesNominas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transaccionesNominas && transaccionesNominas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.tipoDocumentoBenef">Tipo Documento Benef</span></th>
          <th scope="col">
            <span jhiTranslate="portalautogestionApp.transaccionesNomina.numeroDocumentoBenef">Numero Documento Benef</span>
          </th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.nombreUno">Nombre Uno</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.nombreDos">Nombre Dos</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.apellidoUno">Apellido Uno</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.apellidoDos">Apellido Dos</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.nombreUnoPago">Nombre Uno Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.nombreDosPago">Nombre Dos Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.apellidoUnoPago">Apellido Uno Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.apellidoDosPago">Apellido Dos Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fechaPago">Fecha Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.horaPago">Hora Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.pinPago">Pin Pago</span></th>
          <th scope="col">
            <span jhiTranslate="portalautogestionApp.transaccionesNomina.fKDepartamentoDePago">F K Departamento De Pago</span>
          </th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fKMunicipioDePago">F K Municipio De Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fKDepartamento">F K Departamento</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fKMunicipio">F K Municipio</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fKIdConvenio">F K Id Convenio</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fKIdPrograma">F K Id Programa</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fechaDePago">Fecha De Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.valorGiro">Valor Giro</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.periodoPago">Periodo Pago</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.motivoAnulacion">Motivo Anulacion</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fechaVigencia">Fecha Vigencia</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.fechaCargue">Fecha Cargue</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.nota">Nota</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.redPagadora">Red Pagadora</span></th>
          <th scope="col"><span jhiTranslate="portalautogestionApp.transaccionesNomina.observacionControl">Observacion Control</span></th>
          <th scope="col">
            <span jhiTranslate="portalautogestionApp.transaccionesNomina.solicitudAutorizacion">Solicitud Autorizacion</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaccionesNomina of transaccionesNominas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transacciones-nomina', transaccionesNomina.id, 'view']">{{ transaccionesNomina.id }}</a>
          </td>
          <td>{{ transaccionesNomina.tipoDocumentoBenef }}</td>
          <td>{{ transaccionesNomina.numeroDocumentoBenef }}</td>
          <td>{{ transaccionesNomina.nombreUno }}</td>
          <td>{{ transaccionesNomina.nombreDos }}</td>
          <td>{{ transaccionesNomina.apellidoUno }}</td>
          <td>{{ transaccionesNomina.apellidoDos }}</td>
          <td>{{ transaccionesNomina.nombreUnoPago }}</td>
          <td>{{ transaccionesNomina.nombreDosPago }}</td>
          <td>{{ transaccionesNomina.apellidoUnoPago }}</td>
          <td>{{ transaccionesNomina.apellidoDosPago }}</td>
          <td>{{ transaccionesNomina.fechaPago | formatMediumDate }}</td>
          <td>{{ transaccionesNomina.horaPago }}</td>
          <td>{{ transaccionesNomina.pinPago }}</td>
          <td>{{ transaccionesNomina.fKDepartamentoDePago }}</td>
          <td>{{ transaccionesNomina.fKMunicipioDePago }}</td>
          <td>{{ transaccionesNomina.fKDepartamento }}</td>
          <td>{{ transaccionesNomina.fKMunicipio }}</td>
          <td>{{ transaccionesNomina.fKIdConvenio }}</td>
          <td>{{ transaccionesNomina.fKIdPrograma }}</td>
          <td>{{ transaccionesNomina.fechaDePago | formatMediumDate }}</td>
          <td>{{ transaccionesNomina.valorGiro }}</td>
          <td>{{ transaccionesNomina.estado }}</td>
          <td>{{ transaccionesNomina.periodoPago }}</td>
          <td>{{ transaccionesNomina.motivoAnulacion }}</td>
          <td>{{ transaccionesNomina.fechaVigencia | formatMediumDate }}</td>
          <td>{{ transaccionesNomina.fechaCargue | formatMediumDate }}</td>
          <td>{{ transaccionesNomina.nota }}</td>
          <td>{{ transaccionesNomina.redPagadora }}</td>
          <td>{{ transaccionesNomina.observacionControl }}</td>
          <td>{{ transaccionesNomina.solicitudAutorizacion }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transacciones-nomina', transaccionesNomina.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transacciones-nomina', transaccionesNomina.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transaccionesNomina)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
