<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-programas-heading"
        data-cy="ProgramasCreateUpdateHeading"
        jhiTranslate="portalautogestionApp.programas.home.createOrEditLabel"
      >
        Create or edit a Programas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalautogestionApp.programas.idProgramas" for="field_idProgramas"
            >Id Programas</label
          >
          <input
            type="number"
            class="form-control"
            name="idProgramas"
            id="field_idProgramas"
            data-cy="idProgramas"
            formControlName="idProgramas"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalautogestionApp.programas.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalautogestionApp.programas.identificacion" for="field_identificacion"
            >Identificacion</label
          >
          <input
            type="text"
            class="form-control"
            name="identificacion"
            id="field_identificacion"
            data-cy="identificacion"
            formControlName="identificacion"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalautogestionApp.programas.fKConvenio" for="field_fKConvenio"
            >F K Convenio</label
          >
          <input
            type="text"
            class="form-control"
            name="fKConvenio"
            id="field_fKConvenio"
            data-cy="fKConvenio"
            formControlName="fKConvenio"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
