<ng-template #content let-c="close" let-d="dismiss">
  <div class="col 5" style="width: 100%">
    <div class="row justify-content-center">
      <div class="col 9">
        <h2>Doble factor de autenticación</h2>

        <form class="form" role="form" (ngSubmit)="verificar()" [formGroup]="twoFactorForm">
          <div class="form-group">
            <label class="token-label" for="token">Ingrese el código</label>
            <input type="text" class="form-control" name="token" id="token" formControlName="token" #token data-cy="token" />
          </div>
          <div style="margin-top: 1rem; margin-bottom: 1rem">
            <button type="submit" class="btn btn-primary" data-cy="submit">Verificar</button>
          </div>
        </form>
        <div class="alert alert-success" *ngIf="tokenValidado" jhiTranslate="login.token.success"></div>
        <div class="alert alert-danger" *ngIf="tokenError" jhiTranslate="login.token.error"></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="tokenValidado" style="margin-top: 1rem; margin-bottom: 1rem">
    <button type="button" class="btn btn-primary" (click)="c('Save click')" onclick="dismiss()">Continuar</button>
  </div>
</ng-template>
