<div>
  <h2>
    <span id="user-management-page-heading" jhiTranslate="userManagement.home.title" data-cy="userManagementPageHeading">Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="userManagement.home.refreshListLabel">Refresh List</span>
      </button>
      <button class="btn btn-primary jh-create-entity" [routerLink]="['./new']">
        <fa-icon icon="plus"></fa-icon> <span jhiTranslate="userManagement.home.createLabel">Create a new User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="editForm" role="form" [formGroup]="editForm">
    <div class="form-row">
      <div class="col-md-3 mb-2">
        <label class="form-control-label">Tipo de Documento</label>
        <select class="form-control" name="documentType" formControlName="documentType">
          <option *ngFor="let documenttypes of documenttypes" [value]="documenttypes">{{ documenttypes }}</option>
        </select>

        <!-- <div *ngIf="
                editForm.get('documentType')!.invalid && (editForm.get('documentType')!.dirty || editForm.get('documentType')!.touched)
              ">
          <small class="form-text text-danger" *ngIf="editForm.get('documentType')?.errors?.maxlength"
            jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
            This field cannot be longer than 50 characters.
          </small>
        </div> -->
      </div>

      <div class="col-md-3 mb-1">
        <div class="form-group">
          <label class="form-control-label">Número de Documento</label>
          <input
            type="text"
            style="text-transform: uppercase"
            class="form-control"
            pattern="[0-9A-Z ]{5,11}"
            name="login"
            formControlName="login"
            maxlength="11"
            onkeypress="return (event.charCode >= 97 && event.charCode <= 122 || event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 65 && event.charCode <= 90 )"
          />

          <!-- <div
            *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
              This field cannot be longer than 50 characters.
            </small>
          </div> -->
        </div>
      </div>

      <div class="col-md-3 mb-2">
        <label class="form-control-label"></label>

        <div class="form-group">
          <button type="checkbox" class="btn btn-secondary" (click)="toggleShow()">
            <fa-icon icon="check"></fa-icon>
          </button>

          <!-- 
          <div *ngIf="isShown" class="row container-fluid" id="divshow">
            {{ documentTypeString }}
          </div> -->
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="isShown">
    <div class="table-responsive" *ngIf="users">
      <table class="table table-striped" aria-describedby="user-management-page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="transition()">
            <th scope="col" jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="login">
              <span jhiTranslate="userManagement.login">Login</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="email">
              <span jhiTranslate="userManagement.email">Email</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
            <th scope="col" jhiSortBy="langKey">
              <span jhiTranslate="userManagement.langKey">Lang Key</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"><span jhiTranslate="userManagement.profiles">Profiles</span></th>
            <th scope="col" jhiSortBy="createdDate">
              <span jhiTranslate="userManagement.createdDate">Created Date</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="convenio"><span>Convenio</span></th>
            <!-- <th scope="col"><span jhiTranslate="userManagement.profiles">Profiles</span></th> -->

            <th scope="col"></th>
          </tr>
        </thead>

        <tbody *ngIf="user">
          <tr>
            <td>
              <a [routerLink]="['./', user.login, 'view']">{{ user.id }}</a>
            </td>
            <td>{{ user.login }}</td>
            <td>{{ user.email }}</td>
            <td>
              <button
                class="btn btn-danger btn-sm"
                (click)="activateOrdesactivate(user)"
                *ngIf="this.activated"
                jhiTranslate="userManagement.deactivated"
              >
                Deactivated
              </button>
              <button
                class="btn btn-success btn-sm"
                (click)="activateOrdesactivate(user)"
                *ngIf="this.desactivated"
                [disabled]=""
                jhiTranslate="userManagement.activated"
              >
                Activated
              </button>
            </td>
            <td>{{ user.langKey }}</td>
            <td>
              <div *ngFor="let authority of user.authorities">
                <span class="badge badge-info">{{ authority }}</span>
              </div>
            </td>
            <td>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</td>
            <td>{{ user.lastModifiedBy }}</td>
            <td>{{ user.lastModifiedBy }}</td>

            <td class="text-right">
              <div class="btn-group">
                <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button
                  type="button"
                  (click)="deleteUser(user)"
                  class="btn btn-danger btn-sm"
                  [disabled]="!currentAccount || currentAccount.login === user.login"
                >
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="searchCredentialsError" jhiTranslate="userManagement.searchCredentialsError"></div>

  <div *ngIf="isShown">
    <div *ngIf="users">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"> </jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="transition()"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
